@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

:root {
    --background-color: #181C14;
    --text-color: #ECDFCC;
    --title-color: #ECDFCC;
    --header-background-color: #191919;
    --panel-background-color: #2A2A2A;
    --button-background-color: #4dc486;
    --button-text-color: #1F1F1F;
    --button-hover-background: #45A049;
    --fact-background-color: #1F1F1F;
}

body.light-theme {
    --background-color: #ECDFCC;
    --text-color: #181C14;
    --title-color: #181C14;
    --header-background-color: #FFFFFF;
    --panel-background-color: #FFFFFF;
    --button-background-color: #4dc486;
    --button-text-color: #FFFFFF;
    --button-hover-background: #45A049;
    --fact-background-color: #E0E0E0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title {
    color: var(--title-color);
    margin: 0;
    font-size: 19px;
    font-weight: bolder;
    padding-top: 7px;
}

.user-info {display: grid;grid-template-columns: 45px auto;}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: var(--header-background-color);
}

.container {
    display: flex;
    flex-grow: 1;
    min-height: calc(100vh - 10vh);
}

.left-panel {
    flex: calc(56vw - 80px);
    background-color: var(--panel-background-color);
    padding: 230px 40px;
}

.left-panel .header {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 500;
    color: var(--text-color);
}

.left-panel .caption {
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: 200;
    color: var(--text-color);
}

#login-button {
    font-size: 1.15rem;
    padding: 15px 25px;
    margin-top: 20px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-button:hover {
    background-color: var(--button-hover-background);
}

.right-panel {
    flex: calc(44vw - 80px);
    background-color: var(--panel-background-color);
    padding: 40px;
    color: var(--text-color);
    overflow: hidden;
}

.illustration {
    margin-top: 45px;
    width: calc(69vh - 120px);
    margin-bottom: 50px;
}

#facts-container {
}

#facts-container p {
    background-color: var(--fact-background-color);
    padding: 15px;
    border-radius: 8px;
    color: var(--text-color);
}
.time {
    padding-top: 10px;
    padding-left: 10px;
}

.toggle {
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.toggle:hover {
    background: var(--fact-background-color);
}